.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  /* .header input {
    width: 50%;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px; 
  } */
  
  .signup-btn {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: none;
    border: none;
    color:black;
    width: 100px;
    margin-left: 300px;
  }
  
  .signup-btn:hover {
    background-color: #F39F5A;
  }
  
  .login-btn {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: none;
    border: none;
    color: black;
    width: 100px;
  }
  
  .login-btn:hover {
    background-color: #F39F5A;
  }

  .searchbar {
    width: 400px;
    height: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius:50px ;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 15px;
    margin-left: 500px;
    background-color: #0E0D1D;
    color: white;
    border: none;
    font-size: 16px;
  }

  .btn-outline-success {
    background-color: #0E0D1D;
    border: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0;
    border-top-left-radius:0 ;
    height: 50px;
    margin-left: 0;
    margin-top: 10px;
 }
/* 
 .latest-songs {
  margin-top: 40px;
}

.latest-songs h2 {
  margin-bottom: 20px;
}

.results-list {
  list-style: none;
  padding: 0;
}

.result-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.result-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.result-details {
  display: flex;
  flex-direction: column;
}

.result-title {
  font-weight: bold;
}

.result-artist, .result-duration {
  font-size: 0.9em;
  color: #555;
}


  */