 body {
    background-color: #14112f;
}

/*
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    position: sticky;
    top: 0;
    background-color: #14112f;
    z-index: 1000;
    height: 80px;
    width: 100%;
}

.form-control {
    width: 400px;
    height: 45px;
    border-bottom-left-radius: 50px;
    border-top-left-radius:50px ;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 20px;
    margin-left: 600px;
}

.btn-outline-success {
   background-color: #0E0D1D;
   border: none;
   border-top-right-radius: 50px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 0;
   border-top-left-radius:0 ;
   height: 50px;
}

.search-image {
    height: 30px;
    width: 30px;
}

.signup {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: none;
    border: none;
    color: white;
    width: 100px;
    margin-left: 300px;
}

.login {
    height: 45px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    background: none;
    border: none;
    color: white;
    width: 100px;
}

.signup:hover {
    background-color: #F39F5A;
}

.login:hover {
    background-color: #F39F5A;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 82vh;
    background-color:rgba(0, 0, 0, 0.3);
    margin: 100px 10px 10px 20px;
    border-radius: 10px;
}

.slidebar {
    top: 0;
    right: 0;
    margin: 100px 20px 10px 10px;
    background-color:rgba(0, 0, 0, 0.3);
    width: 1100px;
    height: 431px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.categories {
   margin-left: 350px;
}

.menu-item {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    margin-right: 100px;
}

.menu-item:hover {
    background-color: #F39F5A;
}

li{
    list-style: none;
    margin: 30px;
    text-align: left;
}

li:hover {
   text-decoration: line-through;
}

.icons-display{
    margin-right: 20px;
    align-items:start;
    justify-content: center;
}

.image-slider {
    width: 100%;
    height: 286px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slider-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    width: 300px;
    transition: .5s;
}

.button {
    position: absolute;
    width: 300px;
    transition: .5s;
    background-color: rgba(0, 0, 0, 0.4);
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 380px;
    background-color: transparent;
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 380px;
    background-color: transparent;
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 380px;
    background-color: transparent;
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 380px;
    background-color: transparent;
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 380px;
    background-color: transparent;
}

#slider-span1:target ~ .image-slider {left:0%;}
#slider-span2:target ~ .image-slider {left:20%;}
#slider-span3:target ~ .image-slider {left:40%;}
#slider-span4.button ~ .image-slider {left:60%;}
#slider-span5:target ~ .image-slider {left:80%;}


.categories {
    height: 1046px;
    width: 930px;
    background-color:rgba(0, 0, 0, 0.3);
} */