.popular-songs {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 340px;
    padding: 20px;
  }
  
  .popular-songs h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .song-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  