/* body {
    background: linear-gradient(to bottom, #39318A,#070611);
    background-size: cover;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  h1 {
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
    color: #F39F5A;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
  } */